<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<style>
    html{background-color: rgb(104, 224, 184);}
</style>

<body>
   
{% if data %}
    <table>
        <tr><th>Имя</th><th>Фамилия</th><th>Дата Рождения</th></tr>
        {% for row in data %}
            <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td></tr>
        {% endfor %}
    </table>
{% endif %}

<h3><a href="/">Главная</a></h3>
<h3><a href="/about">О нас</a></h3>


{% endblock %}    
</body>
</html>